body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #292929;
    background: linear-gradient(to right, #DECBA4, #3E5151  );
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px); 
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.fade {
    animation: fadeIn 1s ease-out;
}


header {
    background-color:linear-gradient(to right, #3E5151,  #DECBA4);
    box-shadow:  0 22px 20px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logo img {
    height: 40px;
    margin-right: 15px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}

nav button {
    background-color: #3E5151;
    color: #ffffff;
    border: 1px solid #a4a578;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
}

nav button::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #DECBA4;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: right;
}

nav button:hover::after {
    
    transform: scaleX(1);
    transform-origin: left;
}

nav button:hover {
    color: #DECBA4;
}

main {
    flex: 1;
    padding: 20px;
}

.content {
    background: linear-gradient(to right, #DECBA4, #3E5151,);;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}


footer {
    background-color: #3E5151;
    color: #e7e4e4;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.contact {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.contact-column {
    flex: 1;
}

.contact-column.center {
    text-align: center;
}

.contact-column.right {
    text-align: right;
}

.contact a {
    color: #2282e1;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}
.hamburger {
    
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background-color:none;
        position: absolute;
        top: 60px;
        right: 10px;
        padding: 10px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        z-index: 10;
    }

   nav ul.show {
    display: flex;
    flex-direction: column;
    background-color: #3E5151; /* Add any background for the dropdown */
    padding: 10px;
    border-radius: 8px;
}


    .hamburger {
        display: block;
    }
}
